.linkInvite {
  text-decoration: none;
}

.buttonInvite {
  background-color: var(--background-button);
  border: 1px solid var(--gray-text);
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--gray);
  font-size: 14px;
  cursor: pointer;
}

.buttonInvite:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--white);
  
}