.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;
}

.itemContainer > img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.itemDetails > h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  word-wrap: normal;
}

.itemDetails.dark > h1 {
  color: var(--white);
}

.itemDetails.light > h1 {
  color: var(--dark-text);
}

.itemDetails > h2 {
  font-weight: 400;
  font-size: 14px;
}

.itemDetails.dark > h2 {
  color: var(--gray);
}
.itemDetails.light > h2 {
  color: var(--gray-text);
}

.itemActions {
  margin-left: auto; 
  margin-right: 0;
}