@import url('styles/container.css');
@import url('styles/header.css');
@import url('styles/input.css');
@import url('styles/searchSection.css');
@import url('styles/itemResult.css');
@import url('styles/button.css');

:root {
  --background: #18181b;
  --background-button: #3F3F46;
  --dark-text: #1d1d1d;
  --gray: #A1A1AA;
  --gray-search: #27272A;
  --gray-text: #52525B;
  --gray-scroll: #555555;
  --white: #F4F4F5;
  --orange: #F97316;
  --white-search: #E3E3E3;
  --font-default: 'Roboto';
}

body {
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--background-button); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-scroll); 
}