@import url('styles/input.css');
@import url('styles/searchSection.css');
@import url('styles/itemResult.css');

:root {
  --background: #18181b;
  --white: #F4F4F5;
  --gray: #A1A1AA;
  --gray-search: #27272A;
  --gray-text: #52525B;
  --font-default: 'Roboto';
}

body {
  background-color: var(--background);
  font-family: var(--font-default);
  font-weight: 400;
}

.container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  
}

.container > span {
  font-size: 64px;
  margin-bottom: 40px;
}

.container > h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 0.5em;
}

.container > h2 {
  font-size: 24px;
  color: var(--gray);
  margin-bottom: 40px;
}